@import 'reset.css';
@import 'color.css';

body {
  background-color: #f0f6ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  padding: 120px 32px 0;
}

.header_container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.header_container__p {
  display: flex;
  column-gap: 8px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 24px;
}

.header_container_logo img {
  width: 210.583px;
  height: 38px;
}

.header_container__a {
  height: fit-content;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
  color: #6d6afe;
  border-bottom: 0.1rem solid #6d6afe;
}

.sign_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  width: 100%;
  max-width: 400px;
}

.sign-form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 100%;
}

.sign_box_inputs {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.sign_box_input {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.sign_box_input label {
  font-size: 1.4rem;
  font-weight: 400;
}

.sign_box_input input {
  padding: 18px 15px;
  border-radius: 8px;
  border: 1px solid #ccd5e3;
  font-size: 1.6rem;
}

.sign_box_input input.input-error {
  border: 1px solid #ff5b56;
}

.sign_box_input p {
  color: var(--Linkbrary-red, #ff5b56);
  font-size: 14px;
}

.sign-password {
  position: relative;
}

.eye-button {
  position: absolute;
  top: 50px;
  right: 15px;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 0px;
}
.eye-off {
  background-image: url('/assets/images/signin/eye-off.svg');
}

.eye-on {
  background-image: url('/assets/images/signin/eye-on.svg');
}
.sign-form input[type='submit'] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 54px;
  background-image: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  border-radius: 8px;
  color: #f5f5f5;
  font-size: 1.8rem;
  font-weight: 600;
}

.singin_oauth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 24px;
  border-radius: 8px;
  border: 1px solid #ccd5e3;
  background-color: #e7effb;
}

.sign_oauth__icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.singin_oauth > p {
  font-size: 1.4rem;
  font-weight: 400;
  color: #373740;
}

@media screen AND (min-width: 357px) and (max-width: 767px) {
  body {
    padding: 120px 32px 120px 32px;
  }
}
