@import "reset.css";

body {
  background: var(--linkbrary-bg, #f0f6ff);
  display: flex;
  flex-direction: column;
  gap: 30px;

  padding: 238px 0px 252px 0px;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo img {
  width: 210.583px;
  height: 38px;
}

.header__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.header__content__p {
  color: var(--black, #000);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.header__content__a {
  color: var(--linkbrary-primary-color, #6d6afe);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: underline;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#login-form label {
  color: var(--black, #000);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#login-form input {
  width: 400px;
  padding: 18px 15px;
  border-radius: 8px;
  border: 1px solid var(--linkbrary-gray-20, #ccd5e3);
  background: var(--linkbrary-white, #fff);

  color: var(--linkbrary-gray-100, #373740);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

#login-form input:not([type="submit"]) {
  margin-bottom: 24px;
}
#login-form label {
  margin-bottom: 12px;
}

input ~ label {
  margin-bottom: 0;
}

#login-form input[type="submit"] {
  width: 400px;
  padding: 16px 20px;

  border-radius: 8px;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
  color: var(--grey-light, #f5f5f5);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#login-form input[name="passwordchk"] {
  outline: 1px solid var(--linkbrary-red, #ff5b56);
}

#login-form input:focus {
  outline: 1px solid blue;
}

.passwordchk {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
#login-form input[name="passwordchk"] {
  margin-bottom: 0;
}

.login_form__passwordchk__p {
  color: var(--linkbrary-red, #ff5b56);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}

.singin_oauth {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;

  border-radius: 8px;
  border: 1px solid var(--linkbrary-gray-20, #ccd5e3);
  background: var(--linkbrary-gray-10, #e7effb);
}

.singin_oauth > p {
  color: var(--linkbrary-gray-100, #373740);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.signin_oauth__icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
